<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.local.dataexchange_channel_thread_tcp://192.168.1.209:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.local.dataexchange_channel_thread_tcp://192.168.1.210:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.local.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="local_tcp_channel_3043915552_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="local_tcp_channel_3044017952_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="local_tcp_channel_3044218656_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="local_tcp_channel_3044288288_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="local_tcp_channel_644245094400_connect_timer" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
