<?xml version="1.0" encoding="iso-8859-1" standalone="no"?>
<adtf:scheduling_info xmlns:adtf="adtf">
	<handle flags="0" name="Car_tcp_channel_137831696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_140010576_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_140011696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_140012256_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_140012816_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142050624_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142051184_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142052304_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142052864_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142053984_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142055104_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142056224_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142307136_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_142307696_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_145295584_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_147047152_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_147048272_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_153717712_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_185052080_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_190501744_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_190502864_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_190503424_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_214062688_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_214063248_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_214063808_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_214066048_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_214067168_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_214523296_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_215269072_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_215271872_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_215272432_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_249881664_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_249885024_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_249886144_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_44772528_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_58239216_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_58245936_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_58246496_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_58247056_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_58248176_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_72761952_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_72762512_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_72836960_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_72837520_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_72961440_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_73330240_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_73758224_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_73759344_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_73921968_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_74214368_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_74215488_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_74237328_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_74237888_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_75740080_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_75741200_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_75741760_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76271808_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76624976_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76625536_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76626096_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76626656_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76869728_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_76872528_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79815328_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79816448_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79818128_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79818688_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79819248_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79820368_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79820928_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79821488_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79822608_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79825408_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_79827648_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_83978848_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="Car_tcp_channel_86608240_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdInitDeinit" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdPlayPause" priority="0" processoraffinity="0" />
	<handle flags="0" name="CmdStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - loading system.xml" priority="0" processoraffinity="0" />
	<handle flags="0" name="Configuration Editor - unloading configuration" priority="0" processoraffinity="0" />
	<handle flags="0" name="Jury_Config-AADC_Jury_Module.timerRequestReady" priority="0" processoraffinity="0" />
	<handle flags="0" name="Jury_Config-AADC_Jury_Module.timerStart" priority="0" processoraffinity="0" />
	<handle flags="0" name="Jury_Config-AADC_Jury_Module.timerStop" priority="0" processoraffinity="0" />
	<handle flags="0" name="Jury_Config-Car_tcp_channel_79820368_connect_timer" priority="0" processoraffinity="0" />
	<handle flags="0" name="LoadGlobalsFromFile" priority="0" processoraffinity="0" />
	<handle flags="0" name="MapServicesToCurrentGeneral" priority="0" processoraffinity="0" />
	<handle flags="0" name="ReloadCurrent" priority="0" processoraffinity="0" />
	<handle flags="0" name="SetRunLevel" priority="0" processoraffinity="0" />
	<handle flags="0" name="Unload Filtergraph" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Car.dataexchange_channel_thread_tcp://192.168.1.209:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Car.dataexchange_channel_thread_tcp://192.168.1.209{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Car.dataexchange_channel_thread_tcp://192.168.1.213:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Car.dataexchange_channel_thread_tcp://192.168.1.224:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.Jury_Config-Car.dataexchange_channel_thread_tcp://192.168.1.209:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.can_signal_provider_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.console_device_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.core.message_bus.channelinfo_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.lin_signal_provider_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.local.dataexchange_channel_thread_tcp://localhost:5000{timeout=300000,max_package_size=65000}" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.signalregistry_worker" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.transport_widget_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.unnamed.hdsequencer_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="adtf.unnamed.looper_thread" priority="0" processoraffinity="0" />
	<handle flags="0" name="local_tcp_channel_3043907360_connect_timer" priority="0" processoraffinity="0" />
</adtf:scheduling_info>
